:root{
    --red:crimson;
    --green:#53BF95;
    --yellow:#FFC54D;
    --white:white;
    --blue:blue;

}
body,h2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    background-image: url(img/spicy.jpg);
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    color: var(--white);
   
}
header a{
    text-decoration: none;
    color: var(--yellow);
    min-width: 120px;
}
header{
    display: flex;
    padding: 1em;
    row-gap: 1em;
    flex-wrap: wrap;
}
#logo{
    flex: 3;
    font-size: 1.5em;
    font-weight: bold;
    min-width: 260px;
}
nav{
    flex: 2;
    display: flex;
    align-items: center;
}
nav a{
    flex: 1;
}
nav a:hover{
    color: var(--blue);
}
.maintext{
    display: flex;
    flex-direction:column;
    height: 50vh;
    justify-content: center;
    padding: 2em;
}
.tagline1{
    font-size: 2.5em;
    color: var(--red);
    font-weight: bolder;
}
.tagline2{
    color: var(--yellow);
}
.maintext button{
    width: 20vh;
    margin-top: 2em;
    padding: .7em;
    border-radius: 10px;
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--white);

}
.menu{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    color: var(--white);
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));;
   
}
#menuheading,#locheading{
    display: flex;
    justify-content: center;
    width: 100%;
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));;
    font-size: 2.5em;
    color: var(--red);
    
}
.menu th {
      color: #53BF95;
      font-size: 1.8em;
}
table{
    width: 100%;
    padding: 1em;
}
.menu tr{
     display: flex;
     justify-content: center;
     margin-top: .8em;
}
.menu td:nth-child(1)
{
   flex: 1;
   justify-self: left;
}
.menu td:nth-child(2)
{
     justify-self:right;
}
.maincourse{
    grid-row: span 2;
}
.locations{
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));;
}
.locations h2{
    color: var(--green);
}
.locations div{
    flex: 1;
    padding: 1em;
    min-width: 220px;
}
footer{
    background-color: black;
    color: white;
}
.fa-solid {
    padding-right: 10px;
}